In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.12/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%load_ext sql
from sqlalchemy import create_engine

In [ ]:
pip install ipython-sql pandas

In [6]:
%sql postgresql://postgres:@localhost:5432/customerdb
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [7]:
%sql postgresql://postgres:polpol@localhost:5432/customerdb

QUESTION 1: How do the number of customers and the number of transactions vary across different income group?

REASON: Understanding the distribution of customers and their transaction behavior across different income groups can help identify which segments are most active and profitable

In [20]:
%%sql
SELECT i.income_group_desc, count (distinct(c.customer_identifier)) AS customers, count(t.customer_identifier) as transactions
FROM customers c
JOIN income_group as i
ON i.income_group_code = c.income_group_code
JOIN transactions t
ON c.customer_identifier = t.customer_identifier
WHERE income_group_desc !='NOT SUPPLIED'
GROUP BY i.income_group_code, i.income_group_desc

 * postgresql://postgres:***@localhost:5432/customerdb
21 rows affected.

[('R 0 - 499', 62, 14994),
 ('R500 - 999', 30, 2496),
 ('R1,000 - 1,999', 96, 8319),
 ('R2,000 - 2,999', 82, 5889),
 ('R3,000 - 3,999', 150, 13395),
 ('R4,000 - 4,999', 438, 38242),
 ('R5,000 - 5,999', 373, 40719),
 ('R6,000 - 6,999', 357, 41316),
 ('R7,000 - 7,999', 331, 47822),
 ('R8,000 - 8,999', 305, 47663),
 ('R9,000 - 9,999', 200, 31597),
 ('R10,000 - 11,999', 438, 69661),
 ('R12,000 - 14,999', 459, 84208),
 ('R15,000 - 19,999', 597, 131996),
 ('R20,000 - 24,999', 451, 105093),
 ('R25,000 - 33,999', 403, 90633),
 ('R34,000 - 41,999', 186, 42675),
 ('R42,000 - 62,999', 115, 23648),
 ('R63,000 - 84,999', 48, 6101),
 ('R85,000 - 124,999', 15, 824),
 ('R125,000+', 6, 117)]

In [10]:
%%sql

SELECT t.transaction_description, COUNT(t.transaction_description) as number_of_trans
FROM transactions t
JOIN customers c
on t.customer_identifier = c.customer_identifier
WHERE income_group_code BETWEEN 6 AND 16
GROUP BY t.transaction_description
ORDER BY number_of_trans DESC
LIMIT 10

 * postgresql://postgres:***@localhost:5432/customerdb
10 rows affected.

[('POS PURCHASE', 150341),
 ('ATM WITHDRAWAL', 35738),
 ('AIRTIME DEBIT', 32432),
 ('ACB DEBIT:EXTERNAL', 17354),
 ('ACB CREDIT', 16278),
 ('DIGITAL PAYMENT DT', 16159),
 ('IBANK TRANSFER', 9185),
 ('LOTTO PURCHASE', 8461),
 ('MANAGEMENT FEE', 8275),
 ('CASHSEND DIGITAL', 7940)]

QUESTION 2: Which product code (account type) has the most significant cash flow?

REASON: Identifying the account types with the highest cash flow can help the bank understand which products are most popular and generate the most revenue in terms of fee structures

In [10]:
%%sql

SELECT
    EXTRACT(YEAR FROM record_date) AS transaction_year,
    EXTRACT(MONTH FROM record_date) AS transaction_month,
    product_code  AS account_type,
    SUM(amt) as cash_flow
FROM transactions
WHERE product_code = 'CHEQ' OR product_code = 'SAVE'
GROUP BY product_code, transaction_year, transaction_month
ORDER BY transaction_year, transaction_month;

 * postgresql://postgres:***@localhost:5432/customerdb
28 rows affected.

[(Decimal('2021'), Decimal('7'), 'CHEQ', -15400.519999999953),
 (Decimal('2021'), Decimal('7'), 'SAVE', 2509.4699999999993),
 (Decimal('2021'), Decimal('8'), 'CHEQ', -104053.47999999998),
 (Decimal('2021'), Decimal('8'), 'SAVE', 6884.069999999985),
 (Decimal('2021'), Decimal('9'), 'CHEQ', 117961.52000000022),
 (Decimal('2021'), Decimal('9'), 'SAVE', 107298.52000000028),
 (Decimal('2021'), Decimal('10'), 'CHEQ', -371629.63999999984),
 (Decimal('2021'), Decimal('10'), 'SAVE', 19935.730000000076),
 (Decimal('2021'), Decimal('11'), 'CHEQ', 302616.53000000137),
 (Decimal('2021'), Decimal('11'), 'SAVE', 269742.7000000011),
 (Decimal('2021'), Decimal('12'), 'CHEQ', -839668.3900000015),
 (Decimal('2021'), Decimal('12'), 'SAVE', 26184.89000000008),
 (Decimal('2022'), Decimal('1'), 'CHEQ', 203843.02000000124),
 (Decimal('2022'), Decimal('1'), 'SAVE', 327959.97000000044),
 (Decimal('2022'), Decimal('2'), 'CHEQ', 369670.02000000153),
 (Decimal('2022'), Decimal('2'), 'SAVE', 1508086.1000000036),
 (Decimal('2022'), Decimal('3'), 'CHEQ', 154275.28000000276),
 (Decimal('2022'), Decimal('3'), 'SAVE', 29550.69000000233),
 (Decimal('2022'), Decimal('4'), 'CHEQ', 1347654.8000000054),
 (Decimal('2022'), Decimal('4'), 'SAVE', -37089.389999999985),
 (Decimal('2022'), Decimal('5'), 'CHEQ', 2001785.3500000124),
 (Decimal('2022'), Decimal('5'), 'SAVE', 36403.330000000075),
 (Decimal('2022'), Decimal('6'), 'CHEQ', 2115125.6100000152),
 (Decimal('2022'), Decimal('6'), 'SAVE', -126639.29999999909),
 (Decimal('2022'), Decimal('7'), 'CHEQ', 1370629.4500000072),
 (Decimal('2022'), Decimal('7'), 'SAVE', -653547.2899999992),
 (Decimal('2022'), Decimal('8'), 'CHEQ', 2512645.4100000057),
 (Decimal('2022'), Decimal('8'), 'SAVE', -183860.2699999999)]

QUESTION 3: How does the average account balance vary across different income groups (3 month analysis)

REASON: Analyzing the average account balance across income groups over a specific period can provide insights into the financial behavior and stability of different customer segments.

In [19]:
%%sql
SELECT
EXTRACT(MONTH FROM record_date) AS transaction_month,
i.income_group_desc, AVG(t.account_balance) AS average_account_balance
FROM customers c
JOIN income_group i
ON i.income_group_code = c.income_group_code
JOIN transactions t
ON c.customer_identifier = t.customer_identifier
WHERE EXTRACT(MONTH FROM record_date) between 1 and 3 AND income_group_desc !='NOT SUPPLIED'
GROUP BY i.income_group_code, i.income_group_desc, transaction_month
order by transaction_month

 * postgresql://postgres:***@localhost:5432/customerdb
63 rows affected.

[(Decimal('1'), 'R 0 - 499', 5353.412958387529),
 (Decimal('1'), 'R500 - 999', 6765.311477663233),
 (Decimal('1'), 'R1,000 - 1,999', 6061.424959677405),
 (Decimal('1'), 'R2,000 - 2,999', 4023.5963103953354),
 (Decimal('1'), 'R3,000 - 3,999', 3091.102512155589),
 (Decimal('1'), 'R4,000 - 4,999', 2416.4665931304053),
 (Decimal('1'), 'R5,000 - 5,999', 2913.652536143109),
 (Decimal('1'), 'R6,000 - 6,999', 2511.274361255258),
 (Decimal('1'), 'R7,000 - 7,999', 4428.129973850532),
 (Decimal('1'), 'R8,000 - 8,999', 2930.9554196113054),
 (Decimal('1'), 'R9,000 - 9,999', 4399.920516556293),
 (Decimal('1'), 'R10,000 - 11,999', 4191.134660796782),
 (Decimal('1'), 'R12,000 - 14,999', 4934.329666708105),
 (Decimal('1'), 'R15,000 - 19,999', 5192.19950581186),
 (Decimal('1'), 'R20,000 - 24,999', 6312.187069802872),
 (Decimal('1'), 'R25,000 - 33,999', 6955.790742710617),
 (Decimal('1'), 'R34,000 - 41,999', 8625.750497237505),
 (Decimal('1'), 'R42,000 - 62,999', 6979.381429209478),
 (Decimal('1'), 'R63,000 - 84,999', 6415.753730158732),
 (Decimal('1'), 'R85,000 - 124,999', 1870.411063829787),
 (Decimal('1'), 'R125,000+', 2455.464545454545),
 (Decimal('2'), 'R 0 - 499', 5208.849652173914),
 (Decimal('2'), 'R500 - 999', 6595.4857859531785),
 (Decimal('2'), 'R1,000 - 1,999', 5436.324609218441),
 (Decimal('2'), 'R2,000 - 2,999', 3823.396421207667),
 (Decimal('2'), 'R3,000 - 3,999', 3107.858355127325),
 (Decimal('2'), 'R4,000 - 4,999', 2586.3051179245235),
 (Decimal('2'), 'R5,000 - 5,999', 3231.873327047979),
 (Decimal('2'), 'R6,000 - 6,999', 3181.180397705552),
 (Decimal('2'), 'R7,000 - 7,999', 3377.822813238748),
 (Decimal('2'), 'R8,000 - 8,999', 3365.7372357446784),
 (Decimal('2'), 'R9,000 - 9,999', 4353.997980572598),
 (Decimal('2'), 'R10,000 - 11,999', 4434.415149100596),
 (Decimal('2'), 'R12,000 - 14,999', 4577.015165357796),
 (Decimal('2'), 'R15,000 - 19,999', 5118.1033103758255),
 (Decimal('2'), 'R20,000 - 24,999', 6028.254469477294),
 (Decimal('2'), 'R25,000 - 33,999', 6813.12590555662),
 (Decimal('2'), 'R34,000 - 41,999', 7504.224260038254),
 (Decimal('2'), 'R42,000 - 62,999', 6855.944439522973),
 (Decimal('2'), 'R63,000 - 84,999', 6506.248907455025),
 (Decimal('2'), 'R85,000 - 124,999', 4100.925158730159),
 (Decimal('2'), 'R125,000+', 961.98),
 (Decimal('3'), 'R 0 - 499', 4509.696012516774),
 (Decimal('3'), 'R500 - 999', 6296.358957746478),
 (Decimal('3'), 'R1,000 - 1,999', 5587.662643957825),
 (Decimal('3'), 'R2,000 - 2,999', 3995.7766055045945),
 (Decimal('3'), 'R3,000 - 3,999', 2967.752027720733),
 (Decimal('3'), 'R4,000 - 4,999', 2595.151213413437),
 (Decimal('3'), 'R5,000 - 5,999', 3099.2569470827757),
 (Decimal('3'), 'R6,000 - 6,999', 2889.057126272549),
 (Decimal('3'), 'R7,000 - 7,999', 3563.4155462323),
 (Decimal('3'), 'R8,000 - 8,999', 3444.5677228031836),
 (Decimal('3'), 'R9,000 - 9,999', 4416.666812486271),
 (Decimal('3'), 'R10,000 - 11,999', 4353.054471229441),
 (Decimal('3'), 'R12,000 - 14,999', 4647.489248862571),
 (Decimal('3'), 'R15,000 - 19,999', 5312.922218396432),
 (Decimal('3'), 'R20,000 - 24,999', 6584.467612903265),
 (Decimal('3'), 'R25,000 - 33,999', 6909.2368916120795),
 (Decimal('3'), 'R34,000 - 41,999', 7268.406976980385),
 (Decimal('3'), 'R42,000 - 62,999', 7453.475520931675),
 (Decimal('3'), 'R63,000 - 84,999', 7272.786817610057),
 (Decimal('3'), 'R85,000 - 124,999', 4392.808611111114),
 (Decimal('3'), 'R125,000+', 1361.7054545454541)]

QUESTION 4: Which transaction channel generated the highest transaction volume and amount?

REASON: Understanding which transaction channels are most frequently used and generate the highest transaction amounts can help the bank optimize its service delivery and customer experience.

In [12]:
%%sql

SELECT t.channel, COUNT(t.customer_identifier) as total_transaction, ROUND(SUM(t.amt)) as total_transaction_amount
FROM transactions t
JOIN customers c
ON t.customer_identifier = c.customer_identifier
GROUP BY t.channel
ORDER BY total_transaction_amount DESC

 * postgresql://postgres:***@localhost:5432/customerdb
4 rows affected.

[('system', 509581, 74810502.0),
 ('teller', 21464, 61690496.0),
 ('internet', 119238, -29068726.0),
 ('atm', 197261, -96933397.0)]

Question 5: Are there any unusual patterns in transactions (e.g. unusally high amounts deposited or withdrawn) that could indicate fraud?

REASON: This question investigates unusual transaction patterns to identify potential fraud or system anomalies. High transaction amounts, especially when inconsistent with typical account behavior, could indicate misuse, errors, or fraudulent activities. Early detection of such patterns is critical for financial institutions to maintain trust, reduce losses, and ensure data integrity.

In [46]:
%%sql

SELECT
    (SELECT ROUND(AVG(amt)) FROM transactions WHERE amt > 0) AS avg_deposit_rate,
    (SELECT ROUND(MAX(amt)) FROM transactions WHERE amt > 0) AS unusual_depit,
    (SELECT transaction_description FROM transactions WHERE amt = (SELECT MAX(amt) FROM transactions)),
    (SELECT ROUND(AVG(amt)) FROM transactions WHERE amt < 0) AS avg_withdrawal_rate,
    (SELECT ROUND(MIN(amt)) FROM transactions WHERE amt < 0) AS unusual_withdrawal,
    (SELECT transaction_description FROM transactions WHERE amt = (SELECT MIN(amt) FROM transactions))
FROM
    transactions
LIMIT 1

 * postgresql://postgres:***@localhost:5432/customerdb
1 rows affected.

[(3438.0, 51027.0, 'ACB CREDIT', -569.0, -90000.0, 'TRANSFER TO')]

-----------------------------------------------------------------
EXCESS UNUSED CODE: CODE FOR TESTING SCRIPTS

In [44]:
%%sql

SELECT
    EXTRACT(YEAR FROM record_date) AS transaction_year,
    EXTRACT(MONTH FROM record_date) AS transaction_month,
    ROUND(AVG(CASE WHEN amt > 0 THEN amt END)) AS avg_deposit_rate,
    MAX(CASE WHEN amt > 0 THEN amt END) AS unusual_deposit,
    
    (SELECT transaction_description FROM transactions t2 WHERE t2.amt = (SELECT transaction_description 
 FROM transactions t2 
 WHERE t2.amt = (SELECT MAX(t3.amt) 
                 FROM transactions t3 
                 WHERE t3.amt > 0 
                 AND EXTRACT(YEAR FROM t3.record_date) = EXTRACT(YEAR FROM t1.record_date) 
                 AND EXTRACT(MONTH FROM t3.record_date) = EXTRACT(MONTH FROM t1.record_date))
 AND EXTRACT(YEAR FROM t2.record_date) = EXTRACT(YEAR FROM t1.record_date) 
 AND EXTRACT(MONTH FROM t2.record_date) = EXTRACT(MONTH FROM t1.record_date))) AS unusual_deposit_description,
    
    ROUND(AVG(CASE WHEN amt < 0 THEN amt END)) AS avg_withdrawal_rate,
    MIN(CASE WHEN amt < 0 THEN amt END) AS unusual_withdrawal,
    
    (SELECT transaction_description FROM transactions t2 WHERE t2.amt = (SELECT transaction_description 
    FROM transactions t2 
 WHERE t2.amt = (SELECT MIN(t3.amt) 
                 FROM transactions t3 
                 WHERE t3.amt < 0 
                 AND EXTRACT(YEAR FROM t3.record_date) = EXTRACT(YEAR FROM t1.record_date) 
                 AND EXTRACT(MONTH FROM t3.record_date) = EXTRACT(MONTH FROM t1.record_date))
 AND EXTRACT(YEAR FROM t2.record_date) = EXTRACT(YEAR FROM t1.record_date) 
 AND EXTRACT(MONTH FROM t2.record_date) = EXTRACT(MONTH FROM t1.record_date))) AS unusual_withdrawal_description
FROM
    transactions t1
GROUP BY
    EXTRACT(YEAR FROM record_date),
    EXTRACT(MONTH FROM record_date)
ORDER BY
    transaction_year,
    transaction_month;

 * postgresql://postgres:***@localhost:5432/customerdb
(psycopg2.errors.UndefinedFunction) operator does not exist: double precision = character varying
LINE 7: ...ion_description FROM transactions t2 WHERE t2.amt = (SELECT ...
                                                             ^
HINT:  No operator matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT
    EXTRACT(YEAR FROM record_date) AS transaction_year,
    EXTRACT(MONTH FROM record_date) AS transaction_month,
    ROUND(AVG(CASE WHEN amt > 0 THEN amt END)) AS avg_deposit_rate,
    MAX(CASE WHEN amt > 0 THEN amt END) AS unusual_deposit,

    (SELECT transaction_description FROM transactions t2 WHERE t2.amt = (SELECT transaction_description
 FROM transactions t2
 WHERE t2.amt = (SELECT MAX(t3.amt)
                 FROM transactions t3
                 WHERE t3.amt > 0
                 AND EXTRACT(YEAR FROM t3.record_date) = EXTRACT(YEAR FROM t1.record_date)
                 AND EXTRACT(MONTH FROM t3.record_date) = EXTRACT(MONTH FROM t1.record_date))
 AND EXTRACT(YEAR FROM t2.record_date) = EXTRACT(YEAR FROM t1.record_date)
 AND EXTRACT(MONTH FROM t2.record_date) = EXTRACT(MONTH FROM t1.record_date))) AS unusual_deposit_description,

    ROUND(AVG(CASE WHEN amt < 0 THEN amt END)) AS avg_withdrawal_rate,
    MIN(CASE WHEN amt < 0 THEN amt END) AS unusual_withdrawal,

    (SELECT transaction_description FROM transactions t2 WHERE t2.amt = (SELECT transaction_description
    FROM transactions t2
 WHERE t2.amt = (SELECT MIN(t3.amt)
                 FROM transactions t3
                 WHERE t3.amt < 0
                 AND EXTRACT(YEAR FROM t3.record_date) = EXTRACT(YEAR FROM t1.record_date)
                 AND EXTRACT(MONTH FROM t3.record_date) = EXTRACT(MONTH FROM t1.record_date))
 AND EXTRACT(YEAR FROM t2.record_date) = EXTRACT(YEAR FROM t1.record_date)
 AND EXTRACT(MONTH FROM t2.record_date) = EXTRACT(MONTH FROM t1.record_date))) AS unusual_withdrawal_description
FROM
    transactions t1
GROUP BY
    EXTRACT(YEAR FROM record_date),
    EXTRACT(MONTH FROM record_date)
ORDER BY
    transaction_year,
    transaction_month;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [14]:
%%sql

    SELECT
       record_date, product_code, transaction_id, transaction_description, customer_identifier, amt
    FROM
        transactions
    WHERE product_code = 'CHEQ' AND amt > 45000
    GROUP BY record_date, transaction_id, customer_identifier, amt
    ORDER BY record_date asc

 * postgresql://postgres:***@localhost:5432/customerdb
65 rows affected.

[(datetime.datetime(2021, 9, 23, 0, 0), 'CHEQ', 1315622, 'ACB CREDIT', 'ID_9bda67785bf31ef660ac1acd297559119cb93404de3297705aaeef0d99f799dac12a7ee2a438414253b2ddc102592ff68b9989e5915c78553a2d9fb38d0385d0', 51027.04),
 (datetime.datetime(2021, 10, 25, 0, 0), 'CHEQ', 1400738, 'ACB CREDIT', 'ID_47f43f4c00ae8fb5f16a8e34e7f129b4ec80443913708f56b3f19e663b599a7adf870fb472e3addc8439b11b61c38d17e0b0a5e1fd50bb1a157f6d3a0924844e', 45103.43),
 (datetime.datetime(2021, 11, 24, 0, 0), 'CHEQ', 1298944, 'ACB CREDIT', 'ID_907d959a64880ff87d21422387a9e9d9cfac80201b9724d69787c5fa2aeda2d57ac00ed690c37276cc8a12f283c129c1a8545d357e2e61760b7cfe3edcfcd3af', 46377.72),
 (datetime.datetime(2021, 11, 26, 0, 0), 'CHEQ', 1610718, 'ACB CREDIT', 'ID_a4f357716f8af23132ca77613565b4b874ca6e7d4f21c3f544d2c48fbc04d2125679ac4e1ab1f3d645eec74346e209743ebd4a583ac984bb4f6cc8bb9829742b', 46916.63),
 (datetime.datetime(2021, 11, 26, 0, 0), 'CHEQ', 1475714, 'ACB CREDIT', 'ID_94fa7f092102b5f7ec457ea88fa180c80c8be48f1749d44cd6bfbe1c8ca2b32bb5b74abb40dfae0a1ffd6efea3908342050129f4fca85944ed3dda14403f2b0f', 49130.98),
 (datetime.datetime(2021, 11, 30, 0, 0), 'CHEQ', 1359623, 'ACB CREDIT', 'ID_e11bb346844a18645ad5229fe9a496712324b0502e3c338dc46fa45a8eb5151113dc6c61900d5f94dd3dfe8737b6b14d0aa229dac050841d8a9c4ccf571da940', 47734.62),
 (datetime.datetime(2021, 12, 15, 0, 0), 'CHEQ', 1439988, 'ACB CREDIT', 'ID_d0601580b31d7f4f62b00eff297caa38c155b2ba7ba8f1d62a19118edace70ebd262c66c86f5c5cd748eb3288d5205242947f5216c6d10d599e627209ff2514b', 46653.66),
 (datetime.datetime(2021, 12, 15, 0, 0), 'CHEQ', 1507939, 'ACB CREDIT', 'ID_3eb00c032c9e198d0f3c256a2d59f3c2a0dc269b6cd828274331ef49475bc5e001cfff1d66003dfea63f647c111a56e3e25961462b9290096e68a570523cb6d8', 47017.8),
 (datetime.datetime(2021, 12, 15, 0, 0), 'CHEQ', 1108217, 'ACB CREDIT', 'ID_4e97207421fc6ec201db33eba130f2b6779710192354916ff26bc12c5e12137a7110fc5e6944e8167c85185dc122b9f9978b4d90e3d7ab5735ec4637773471d8', 45451.68),
 (datetime.datetime(2021, 12, 15, 0, 0), 'CHEQ', 906949, 'ACB CREDIT', 'ID_618403005eaae56a7f3e1de8e3f722f179222dade2a14526a04edff9877c39833f20fa7d2eb9558e5328dd956b9bb37def78351c2bf577ed352e609af382c70d', 47117.2),
 (datetime.datetime(2021, 12, 17, 0, 0), 'CHEQ', 1379816, 'ACB CREDIT', 'ID_be6d34b755017b6495d5b39a932c1420d32a3a58309970631f55442d2b61416859b7daddf671606dff062e8047da12e17c7d6e50b3abda34d1ac858c81645be5', 46756.7),
 (datetime.datetime(2021, 12, 21, 0, 0), 'CHEQ', 1337927, 'ACB CREDIT', 'ID_1bf75be054cb33aa66e2e1c6cfce07da9a2674573eb92978e146fbd714b4637ee08e3a63786d4c1d28bf6e37d939307b67600928cbb4cf7d4d17a8184e24954b', 46167.99),
 (datetime.datetime(2021, 12, 23, 0, 0), 'CHEQ', 1199331, 'ACB CREDIT', 'ID_67dfe2f1b460697f4b747f39de623343306d63e06c6852dc371135f381e50b76f5153ba506fa260d26c2e5ab125a13b33d665263278cb6380260adf6e2abb60a', 47879.58),
 (datetime.datetime(2021, 12, 24, 0, 0), 'CHEQ', 1148634, 'ATM TRANSFER', 'ID_c39f2c525a9e82e0b6271724f1bcb0f43fb9f39313ea790c697ec308f60ff542a8a62238e5c045db6c2bdea7a9c33678010fe239290ac87b4c61773d971e3fe7', 45895.46),
 (datetime.datetime(2021, 12, 30, 0, 0), 'CHEQ', 1562049, 'TRANSFER FROM', 'ID_71cf30c0e90e461c949ab64eb9f2efc3a2e5968db932c1c92547cb2fe4f72d0ef76e8e171289e1ddcb39794d52cc33c5e7f464011dc8858be70505ea6525593c', 46000.0),
 (datetime.datetime(2022, 1, 7, 0, 0), 'CHEQ', 1373242, 'TRANSFER FROM', 'ID_16ea51e1a739e762f86d5fd3d52ccf258c95e8120c54a40aa4f8eca486548153333d29e5157c8854de2ed4c256d0cb8268b1db6fe670993f87b4f5b8e50eef49', 45991.52),
 (datetime.datetime(2022, 1, 8, 0, 0), 'CHEQ', 1325343, 'IMMEDIATE TRF CR', 'ID_54d9717fa258742cb7b052e39ba784e5f950280fe1f81a5b2ae948860884ee5b3330b995b78443c37440fc6385f6eaa0290656978cbef8fe8d263096fe2f2c46', 46998.94),
 (datetime.datetime(2022, 1, 14, 0, 0), 'CHEQ', 1171479, 'ACB CREDIT', 'ID_6e68d1d33c58f6c934c3407b4d85cafc99ca320890c3907f36071c5556cfd400dd5dad3cd97008a7943d3226cac72c1755572ce4c1f1c7502fdad5ee52ac4e9a', 48288.95),
 (datetime.datetime(2022, 1, 14, 0, 0), 'CHEQ', 1239514, 'ACB CREDIT', 'ID_352c5b1340e9769be9846debdcf203479dc74d70ba987c53c6f7988830561dda8e4aff0c10a0b2f4532537917f21ce82a6401e08b6bcfa405bf2299715cbc144', 46974.56),
 (datetime.datetime(2022, 1, 14, 0, 0), 'CHEQ', 1467033, 'ACB CREDIT', 'ID_8113167fa158105f1c9ed62e107e59f4efe2ab3acc31e36f82fb5deb45f6f78361ff0e6e11427dab278d7e3dfd75f3066996a20b2d29c44757fcb268477309f4', 47591.41),
 (datetime.datetime(2022, 1, 24, 0, 0), 'CHEQ', 1672993, 'TRANSFER FROM', 'ID_12b012e64259d93bdad0f72a385e893287ace390b59ae4d3fccaec81ea5636d86d25f301fa93fb38ac76e5ef54d5b780ca3c70a0b3c110859ad7e3ae7e4c3ed8', 46000.0),
 (datetime.datetime(2022, 1, 24, 0, 0), 'CHEQ', 1290946, 'TRANSFER FROM', 'ID_eb2b32636d9471aa6b6dcceab0d7d03706178887db0d02721b631924fc34a23d63ad105ba84c295192a8f8c9b8e1d03d6bb7989869b27c912bf2cabc3cc42791', 50000.0),
 (datetime.datetime(2022, 1, 25, 0, 0), 'CHEQ', 1577330, 'ACB CREDIT', 'ID_5408c0892fd83a64bb70a06b2915b14dc5c94c07b9a3f2180175541f7e9fb6ffb5e6ac73ed0aca8fb2341ddea7540bee17e45b3ec505d62d1ef424eeae3bc177', 45092.73),
 (datetime.datetime(2022, 2, 4, 0, 0), 'CHEQ', 1465694, 'IBANK PAYMENT FROM', 'ID_6b49e4e8acc429dd98a59dec62f81c4bff628808bd74105126f4246fcad5072dc287d11f58cabbca071c6a8ca0a8428b0987267bc14f6c72f47efe151db89c44', 45016.0),
 (datetime.datetime(2022, 2, 22, 0, 0), 'CHEQ', 1269922, 'TRANSFER FROM', 'ID_9e0c29df1cb5c2b9aef439c0e166ff81daffc6eaf72414e0fee28e38e614cb13f1979ec886ee45ecff394407a9af25b5874bd5509f721d646da62e452bc27b72', 46000.0),
 (datetime.datetime(2022, 2, 24, 0, 0), 'CHEQ', 1249980, 'ACB CREDIT', 'ID_fd94d6d0657007bffba43478f4f0d752458fc1df6e7a2b0aba7dd0aef309c1da47549d846ad66911c6c7a2712bb4d7784deabd2a39d23def8a01f10c8f8d442d', 46849.77),
 (datetime.datetime(2022, 2, 25, 0, 0), 'CHEQ', 1265768, 'ACB CREDIT', 'ID_2752e5c503d1f869b835b7bc007cd08f2ec6257b32ca4bcfe2685a1cd221f3d86a0716913d266866d774e385b4676cc43fa8e430638e9c27887fd828a7347a2d', 46626.73),
 (datetime.datetime(2022, 2, 25, 0, 0), 'CHEQ', 1397447, 'OPENED-FROM SAV', 'ID_ae4e324f486faefd8e8eb00a29180a69d4801eb954e3431dc16819320f611db9b6f34a29ca7e572733b5d3eb7846b59bac23f83f6880d741fe38e5037f63162a', 45062.23),
 (datetime.datetime(2022, 2, 25, 0, 0), 'CHEQ', 1313341, 'ACB CREDIT', 'ID_7427134b03072a2e8d904ee743401ba64dbba6d0575e444790cbef54f426bb9dbe4d2e1baeb0f6b1fdb780b361226cbf75b2c9574fe44e14ac0d0d61dfb04622', 46309.52),
 (datetime.datetime(2022, 2, 25, 0, 0), 'CHEQ', 1138803, 'OPENED-FROM SAV', 'ID_4beb8519e8f3a233af894409e32adaa7f6387b02d22ddd05e771d140f29a721f81dd9708747dbd2867d6917d27726db917502ceff82b0d2ad3681f6ff3b678e4', 48703.65),
 (datetime.datetime(2022, 3, 4, 0, 0), 'CHEQ', 1054896, 'TRANSFER FROM', 'ID_95321211b9c92cb2bea8c7207c6c92d351d7e384b823ce29e7f31cd0c4039714249f1f61d7752e4afd3529add0bbc547b4e17b21c8c122686fb4f4a7db344012', 49000.0),
 (datetime.datetime(2022, 3, 11, 0, 0), 'CHEQ', 1393327, 'IBANK PAYMENT FROM', 'ID_1a91c294b8a921c75d42e61916488e0b87e2bdf54a4c3b679bbaa17dc08ce68f356fa7e5a65644d1d4fc85d32d829d7a5bcc237ea4d4ea7625048cf45a56023b', 50000.0),
 (datetime.datetime(2022, 3, 15, 0, 0), 'CHEQ', 1653155, 'ACB CREDIT', 'ID_c55074c1294076cfad6e45ed95a42c60a6eb2e347d6b1554dee3a4a585ef3a6be582f263f4f0bf5aeb34809f4a9ddc008b5f8303f6c1b9cdd4264897afde2a59', 48463.26),
 (datetime.datetime(2022, 3, 15, 0, 0), 'CHEQ', 1417303, 'ACB CREDIT', 'ID_34ce0dfbe0ac3919bb05eaa668b3b2c840be962c31f065ee74f82a3f1eb70f9d2dc8b10652e59b4fd7712d2a17430cc3829758dbd3390025bbd9250ae340b2bb', 46023.67),
 (datetime.datetime(2022, 3, 16, 0, 0), 'CHEQ', 1609260, 'OPENED-FROM SAV', 'ID_60e362348b5fb72bf6093a05d3ed69a2d269b3caf25555d41133c38754b3361affcb225563d4f3c896a06e38c4239e7d4f9942c9421b9680f00aa0a7f7baa116', 45767.88),
 (datetime.datetime(2022, 3, 23, 0, 0), 'CHEQ', 957270, 'ACB CREDIT', 'ID_2157bb3c08a3a7a920681348527d00e35f15c9fab5899573e3a380c598bcc0fdfd0a431a40a5ec5cea4bb369cf1157598378c92340b798af30d4ce698411f5e8', 50000.0),
 (datetime.datetime(2022, 3, 24, 0, 0), 'CHEQ', 1495010, 'IBANK PAYMENT FROM', 'ID_c580afa29bb460ea6be9c69bd3d9a8b1b9a0afafae78e35615396a374ff8318ac10729a37111b98b5a2a4c566657b60f4a895e4281cbe6d41adda68b5dcb3e77', 50000.0),
 (datetime.datetime(2022, 4, 5, 0, 0), 'CHEQ', 1519043, 'NPF CREDIT', 'ID_e1d89b8554c1eac954d94d319e7e2bb0391ee9d545fe97adccee389855c02fe3b313dc735d094741c775b5964df04a40ee4f423ff6c1fb81ac030fb3ea7cc7cb', 49000.0),
 (datetime.datetime(2022, 4, 11, 0, 0), 'CHEQ', 929709, 'OPENED-FROM SAV', 'ID_02ac806227d22131c8927eae9f28ee9cdf8101e8457313514d84e2c597472b091bc9335112b1c2a925121df5f32f88d675f7e1fd86f8abe8486ae0c7d2341cb5', 46837.42),
 (datetime.datetime(2022, 4, 14, 0, 0), 'CHEQ', 1039069, 'ACB CREDIT', 'ID_3459a168383cd6a65ca354d7ccd6b9dd13253cf4f5d6adec8a6244d7d0aae3b6827649aebc6128ee335808769e30f799ab73374181363ecbead9b8b5ad2ee418', 49216.45),
 (datetime.datetime(2022, 4, 20, 0, 0), 'CHEQ', 1398115, 'ACB CREDIT', 'ID_e8359a8bb36efbf6fbc4a9ed7b9f3993a470fe684f9894fed5d9b622bcb77c637180d6ab2101f26006a7ee5318d8d26d275b94cc32221b1ccfe86d38b11bbe57', 46016.53),
 (datetime.datetime(2022, 4, 20, 0, 0), 'CHEQ', 1603653, 'IBANK PAYMENT FROM', 'ID_774148dc9947296df3cce665e7dab8f9740efff01477dd599c50022062dd28ad09bc12ce033f1181fffd94393f5b83659b918421453aaeecae0f301c81f239bf', 50000.0),
 (datetime.datetime(2022, 4, 23, 0, 0), 'CHEQ', 1052135, 'IBANK PAYMENT FROM', 'ID_d4120c4e6c1800dd2dc7b0b93a284c189809958d080fcf4512f753f10bd533d97b9a7e3cf439c707a67dfed995a95b0024ad7a786057784049050a3ec791664e', 50000.0),
 (datetime.datetime(2022, 4, 28, 0, 0), 'CHEQ', 1377674, 'TRANSFER FROM', 'ID_87b3548ac5da8a321eb9740ef432be99eb30d4b5200b7c2d0d8efd80966bc37034588a09ee6b5542767e145edae4216c50492df1ff81dec7697f615ae47a9ace', 48700.0),
 (datetime.datetime(2022, 5, 3, 0, 0), 'CHEQ', 1288193, 'OPENED-FROM SAV', 'ID_9356d98bb77a8d97503e5df81f5ce8bffaf36fbcae5681ee61431fa07d762328326b8e4333737d964ddd29334738e2c950d570c6a3adbef2d6afcfd5e8a3b65b', 46450.26),
 (datetime.datetime(2022, 5, 5, 0, 0), 'CHEQ', 1601438, 'TRANSFER FROM', 'ID_0ba81194e74bbd308aae5c55ac94d45b19dd656b809a58293e1f0d093dbef58142bb994d77d45388cde6dcbd91e1879bc12de5af440b7ea7f4a78fd1e4585b09', 45894.01),
 (datetime.datetime(2022, 5, 9, 0, 0), 'CHEQ', 1611627, 'TRANSFER FROM', 'ID_af9c038b9141eb0d0b153a5b9f2e6453100139b9dca2dd903c7cd19383259f48ff4c9449a80e0b6f30da68816dea756d30138c8f4203589b63cc37820c365ab5', 50000.0),
 (datetime.datetime(2022, 5, 11, 0, 0), 'CHEQ', 1311204, 'TRANSFER FROM', 'ID_24eabab97e37df3b84f0ada7815683750d6367ac2ab2ee986ace4511d5babeaa19ac6f9368da9dd8744bb09c640de19953fbf1a906fff2b5f15cab2321c661b9', 50000.0),
 (datetime.datetime(2022, 5, 11, 0, 0), 'CHEQ', 1408863, 'TRANSFER FROM', 'ID_22b49d5a0d4b89e3744233cc0826a3e2164d92972c7d1a7a46aed2b21ba1e006d2865b6181bbe025486c775b5793dd1bd2a4ab215e5514020c8624e2aca4a26d', 50000.0),
 (datetime.datetime(2022, 5, 11, 0, 0), 'CHEQ', 1397402, 'NPF CREDIT', 'ID_ae4e324f486faefd8e8eb00a29180a69d4801eb954e3431dc16819320f611db9b6f34a29ca7e572733b5d3eb7846b59bac23f83f6880d741fe38e5037f63162a', 46367.85),
 (datetime.datetime(2022, 5, 24, 0, 0), 'CHEQ', 855651, 'IMMEDIATE TRF CR', 'ID_bb621e9bb9f0fccc72520e822ac5d34bcdf62be980d9284e6beb8381a3e1a7d9890f85e3cced99b674b3bab78275cb4879ef531c14095236b680d34703d5d9be', 46239.3),
 (datetime.datetime(2022, 5, 25, 0, 0), 'CHEQ', 1577051, 'ACB CREDIT', 'ID_5408c0892fd83a64bb70a06b2915b14dc5c94c07b9a3f2180175541f7e9fb6ffb5e6ac73ed0aca8fb2341ddea7540bee17e45b3ec505d62d1ef424eeae3bc177', 46525.63),
 (datetime.datetime(2022, 5, 26, 0, 0), 'CHEQ', 1587852, 'ACB CREDIT', 'ID_cb7581bdbb8d4bfea7b085cd0b2b8208fbc4915da8e114557945c89bc2be2d753abf3c65fef5441f74cbc10586a30f6d31aed8bc6bd719f1363fce643620aa56', 47707.43),
 (datetime.datetime(2022, 5, 31, 0, 0), 'CHEQ', 1165405, 'TRANSFER FROM', 'ID_bbebeb551e3e7811bc1f5c9d273aa47f1132675d485a6ad862fb184d73788fa2a01e7eaebbee59d52f965de6f258552593937b4b583cfa288bbd3ab4d09c6aef', 48657.0),
 (datetime.datetime(2022, 6, 3, 0, 0), 'CHEQ', 1332518, 'OPENED-FROM SAV', 'ID_693e3bfe9812cbdf6866c6d8d7af8f262ce031ef785630bca1d09fba538c77b234e12542747d17224eb607912c9608dc0a01323a9fc3dbce5cae6da68de68a67', 45121.95),
 (datetime.datetime(2022, 6, 8, 0, 0), 'CHEQ', 1392753, 'FOREIGN NOTES', 'ID_e27a31ff3463c72d48d70d2f5d73e8dbd0ffa543632136008240d03589ed008cffa2bf0e4340ba58701e5ad05e017d0b4aca2387e32aff305559c9cb0620902d', 46991.26),
 (datetime.datetime(2022, 6, 21, 0, 0), 'CHEQ', 1677321, 'TRANSFER FROM', 'ID_a7efbc83280c8fd1aa303343562afaa1b7839a11b4484efad34c1a1fc32faf3d9eeaf506c3fad52ccf3b47cd4a505a0046bed60fa4c910563fd5f2fe31701515', 48836.0),
 (datetime.datetime(2022, 6, 24, 0, 0), 'CHEQ', 1183421, 'ACB CREDIT', 'ID_5fd69a32aca24ace4c8e79aae9b971212acaacdede0ee9ad7317cce161bea3201feda865def7a4bca73da7fe87e8a484ba089197c14556bc33fb34882067fa3d', 46023.11),
 (datetime.datetime(2022, 6, 24, 0, 0), 'CHEQ', 1577022, 'ACB CREDIT', 'ID_5408c0892fd83a64bb70a06b2915b14dc5c94c07b9a3f2180175541f7e9fb6ffb5e6ac73ed0aca8fb2341ddea7540bee17e45b3ec505d62d1ef424eeae3bc177', 47975.73),
 (datetime.datetime(2022, 7, 4, 0, 0), 'CHEQ', 866721, 'OPENED-FROM SAV', 'ID_ccae88a53176ad21af07e45f45bbccbde13a8ff8d80b64d128f82b0a3b9fb8370135a6c12462ef91c832961c7653dee18b8ca4c45f7dcec3dc8bac0026eaea0b', 47813.38),
 (datetime.datetime(2022, 7, 13, 0, 0), 'CHEQ', 1653730, 'TRANSFER FROM', 'ID_cd92e7d4bd631eecd80bdb0ecf4b0de63824b740cf06aa53e503441bff79b91faf42cf826ea6dff83e58c79f7fa2a4cb25c651e91ba3c12c3d2f39de3c95e025', 49005.0),
 (datetime.datetime(2022, 8, 11, 0, 0), 'CHEQ', 1545403, 'TRANSFER FROM', 'ID_c211d0275467063000c59b22bca5c53ff25f6944cb21edf35545aefc5ff6af3af3331e9bdba71931d9c558ce42840f2776d50cba6c4684dd0a1b9a78ad2b6de3', 48700.0),
 (datetime.datetime(2022, 8, 16, 0, 0), 'CHEQ', 1434891, 'OPENED-FROM SAV', 'ID_db3e7674b98d508f1dc485d0f23f6494f79540eddf42e916352b5ab3f70911f677730e6648d487167f8252043b3eb660e02d7cc1fe748bbb201a92ce440fed5b', 49162.45),
 (datetime.datetime(2022, 8, 20, 0, 0), 'CHEQ', 1367116, 'TRANSFER FROM', 'ID_e5e7631b75092057bcd45a496106679701ceec43892f4821fe43f52d6df44091b3e80b650b971a8e0ed72904dc6f3c4cb3eef5ce9d609128eabf44c6a82dbccd', 48200.0),
 (datetime.datetime(2022, 8, 25, 0, 0), 'CHEQ', 1051975, 'OPENED-FROM SAV', 'ID_c94abb16cc2a1010f68dacfcd7c120d87da61fbe845eb52ef1163c005660b33f4ed9b465eeec9a5f6b2bff6adaf1af1d4f6594c04ae90e704e19101f07a9afaa', 47783.83)]

In [15]:
%%sql

    SELECT
       record_date, product_code, transaction_id, transaction_description, customer_identifier, amt
    FROM
        transactions
    WHERE product_code = 'SAVE' AND amt > 45000
    GROUP BY
        record_date, transaction_id, customer_identifier, amt
    ORDER BY record_date asc

 * postgresql://postgres:***@localhost:5432/customerdb
38 rows affected.

[(datetime.datetime(2021, 11, 25, 0, 0), 'SAVE', 1523413, None, 'ID_7d4204d34bcfa1debcf36a2b3c3c064bb2e59fbc348599cc5639d69118c8ebc7deed26772764e49f1a70906296092de26c3fa60a6cc300454b7503379cc787fb', 48755.74),
 (datetime.datetime(2021, 11, 30, 0, 0), 'SAVE', 1245047, None, 'ID_0423b22cf99dde5a7387c9db73634e32b7645130bd32c4fa4de3c2acbd5190c9469de0a4e5aedc081550a92aa819578f7e03e20faf1fbe8e16e4bd6e07621699', 45051.8),
 (datetime.datetime(2021, 12, 2, 0, 0), 'SAVE', 1225885, None, 'ID_5526ceff84264dee3327c05a74c06d83551cb0df246083e61f9447013ad00d6a28b17c5d25ebb04894bb4910fd816fe944b507e6d38b395605817553543ea5f5', 46000.0),
 (datetime.datetime(2021, 12, 14, 0, 0), 'SAVE', 1614098, None, 'ID_1edec3a2336eb9d9ac3456b34c709ba7e304eddffcaae18ec22eb10509403b0db3ed23333dd4315d21b840bbd42c25bfcb73865349a61557b5b9087ba4f6e21c', 45587.28),
 (datetime.datetime(2021, 12, 15, 0, 0), 'SAVE', 1674827, None, 'ID_57b59943e251876eb6b6e5b33c891232289d7a8d4c25e1312c34713b5dfa1e7e316bf95279fe875e68e55d8b11d6838a5101f4ac6f4800f860e23eb3b8888b2d', 45770.48),
 (datetime.datetime(2021, 12, 15, 0, 0), 'SAVE', 1074569, None, 'ID_85feecf2a76c3ab765f4912705f93f0d0baf0254dfbbffc56f02f4fde95a813cf4383477d8a92f846694aec6897445ca40ba6a7bd27b651d41cd689ef1e1d7b3', 46634.71),
 (datetime.datetime(2021, 12, 31, 0, 0), 'SAVE', 1181216, None, 'ID_08b2784e857a0ad2e6eb3a0ecf98640bc9823d675669f9738d0b0f68e87a7052b68c62d8a42b60c7d4208a85c3e2f1f289a8a22b1ea89897fa870624335bf776', 48112.64),
 (datetime.datetime(2022, 1, 5, 0, 0), 'SAVE', 994150, None, 'ID_41205e16a7450531ff84502fe77b2ffa1acee5693d95c7a1b4900c2677fc6f877c197a96bf3f8222b063f13ff6585bf224dad24d82bef642cd873380921f290f', 48000.0),
 (datetime.datetime(2022, 1, 21, 0, 0), 'SAVE', 1461527, None, 'ID_ee85300276ad1b89875fc54f92eddd8ab52bfa004a5ca79265b84bfb78f00915ee9a784fdae2c21fe5b6d7225cd14b428aae68cf4c1922eb0bff4df9441caa71', 46617.34),
 (datetime.datetime(2022, 2, 15, 0, 0), 'SAVE', 1215163, None, 'ID_d81f7cc40f2a555cc5f8b7a9dec6c93fbd411c3f38caa12d87e948fe51bb7a7affb2d9d548b014ed4b11f16d27d9457d0d7ad6962059122b107c43700035cde3', 49329.88),
 (datetime.datetime(2022, 2, 18, 0, 0), 'SAVE', 1536050, None, 'ID_8c16111751472d0cb6bc9fecfc7a8b8a4aadb3830b76cc65b38e8e5bc6fd45d9ced86e4faec1cf60c39a38517d0b6c514017e0e3637a2af39ac4b59c9ac4ce21', 45546.0),
 (datetime.datetime(2022, 2, 23, 0, 0), 'SAVE', 1397433, None, 'ID_ae4e324f486faefd8e8eb00a29180a69d4801eb954e3431dc16819320f611db9b6f34a29ca7e572733b5d3eb7846b59bac23f83f6880d741fe38e5037f63162a', 45159.0),
 (datetime.datetime(2022, 2, 25, 0, 0), 'SAVE', 1222543, None, 'ID_f9356c484250af6b806874ebd2d30db70c8257b0ba57761ce9168ddf6c4d902b6e934d24db4a47487e6f553a99fa4a3407e34a58748671b84de4bc002dd4a6c8', 48936.98),
 (datetime.datetime(2022, 2, 25, 0, 0), 'SAVE', 1172467, None, 'ID_970cf6b49e01f0694d161b59e53879f1efbd9d2d5290e06b7a95486e681464a36b6b1f8f343950c65be6fae694a1412230d83b1bc36332d22e1d93099089e4ba', 46340.0),
 (datetime.datetime(2022, 3, 14, 0, 0), 'SAVE', 887999, None, 'ID_00f10766ea14a42ea1b2ae3995dbb84da043f98afae011c32b1e97b83342c7978b78bafb5780849ba32c76a9a0b30889a2c48af2df1b7869ce3cd44e21b3b810', 46740.73),
 (datetime.datetime(2022, 3, 17, 0, 0), 'SAVE', 1306426, None, 'ID_626392331dd8fa1636ea1545f99f2a62f29baf74ca7d5bf6b11a141a878e69be0377cc2e34cc5dd4186000de3ea6c5a5748e393b4da1ed52eb9c05c6b57e1d24', 45290.36),
 (datetime.datetime(2022, 3, 27, 0, 0), 'SAVE', 1172771, None, 'ID_970cf6b49e01f0694d161b59e53879f1efbd9d2d5290e06b7a95486e681464a36b6b1f8f343950c65be6fae694a1412230d83b1bc36332d22e1d93099089e4ba', 46340.0),
 (datetime.datetime(2022, 3, 31, 0, 0), 'SAVE', 1087810, None, 'ID_3f2ea23c404ef94bda09a6743ec07afaa37f37ecd74b2cb16178860998eb36a26c294eaf898569f23d72dc1b0827ae1017b5021dbc42d8b1b609b995b752209a', 46176.17),
 (datetime.datetime(2022, 4, 4, 0, 0), 'SAVE', 1476219, None, 'ID_a076fe8f426f9f7dc126081f6ca48450a3e8e52376d635e8d2bfc10efc0d86e3cb9e1079d94a726856f3b21e4a7d70d418afe203c82c5c648f6ff8057101da91', 45200.0),
 (datetime.datetime(2022, 4, 7, 0, 0), 'SAVE', 1578226, None, 'ID_6d70e1401c0893afb00675c07819be20adf7430ae460cabf8f0b515237b2a3743e577d7ff2fd0007e53eea46d5b21adbff023555609953b0f91d49bcf7fe04bf', 48700.0),
 (datetime.datetime(2022, 4, 14, 0, 0), 'SAVE', 895010, None, 'ID_ebf97f1aaedb9c3c98d9d1c8766e7c56f2b4a4750bc07941d9b1f9f7e6210969e86ab9f5921a347842b841b9ea557d0ad5a200b7e85f57fd2161e6b39d54bf21', 46000.0),
 (datetime.datetime(2022, 4, 25, 0, 0), 'SAVE', 1172623, None, 'ID_970cf6b49e01f0694d161b59e53879f1efbd9d2d5290e06b7a95486e681464a36b6b1f8f343950c65be6fae694a1412230d83b1bc36332d22e1d93099089e4ba', 46340.0),
 (datetime.datetime(2022, 5, 5, 0, 0), 'SAVE', 1140093, None, 'ID_7f56b6b949134eb424122d8f69975b6b9dead91721760f3ebfa875ddb901f5c695c7557c0fabd8c7abd366545511ba1aeeffb0bdd9ea4a7b20f0e66406772578', 45511.56),
 (datetime.datetime(2022, 5, 11, 0, 0), 'SAVE', 950778, None, 'ID_5ed7c1f7dde084e29d1fc7aed8e7e6f77876dd73b3f66e651ddf00e0aef554fb9c57a8f4644236176618ec1714846ef7de1fe4c335acdb7380f71d7e6efbefa0', 46200.0),
 (datetime.datetime(2022, 5, 13, 0, 0), 'SAVE', 1467855, None, 'ID_a1d60680cbaa8c831cc141fcdbb85c8b521ac326482704aa7cafe167956ca4c54633f29238d10a27f2133aa67a9bb4c3d0e124f155081ab28bceecac91da93c8', 46900.0),
 (datetime.datetime(2022, 5, 16, 0, 0), 'SAVE', 1281444, None, 'ID_ae33f90051f574f3c10851241dbc275528834c7e85121cfd0ec4370f48d7fc842189899c517b92e079b8840510e446f99608a6a3b31efd91531e7d898f42c18c', 48700.0),
 (datetime.datetime(2022, 5, 25, 0, 0), 'SAVE', 1172345, None, 'ID_970cf6b49e01f0694d161b59e53879f1efbd9d2d5290e06b7a95486e681464a36b6b1f8f343950c65be6fae694a1412230d83b1bc36332d22e1d93099089e4ba', 46340.0),
 (datetime.datetime(2022, 5, 27, 0, 0), 'SAVE', 1398526, None, 'ID_eaec44ee68d2fec829f3b4aae10e1638c8567112e6ea7fe66593e545b2b4e665d6bafcdfd6406222b47f6ced74a7741d5eebdde81e8ad468e7bb23429fdc0487', 46649.0),
 (datetime.datetime(2022, 6, 8, 0, 0), 'SAVE', 1425328, None, 'ID_b17e695bb45568b9a9cdba9d8664cbe45fe589e261ea165970899b2546e81ef966de61f7d01c482b04229ffd07d385d53d40dd99fecbb84f6d95cfed62150ba5', 45077.49),
 (datetime.datetime(2022, 6, 15, 0, 0), 'SAVE', 1410871, None, 'ID_582bc33e36ab813fc3a4a7c7df231a7387f396439baedab0165f211d211542f2a8c5929579a84dc20129f28adab1b5fb7ed6769a7c9a312b7e977198eea61887', 45618.93),
 (datetime.datetime(2022, 6, 15, 0, 0), 'SAVE', 1290688, None, 'ID_e0187d387341b7b8dc9ac98ad5fad55d2c1c4a2316d1ad6aa4687761dcca6fb44c1671fa2d1babad155844c8a76ad9237e7339e3907cb462f55c3676ae8cff48', 45159.53),
 (datetime.datetime(2022, 6, 20, 0, 0), 'SAVE', 1018140, None, 'ID_4a92295555d3e29c613748df98f7615299700ed8026974560500b730b94306cabcac76181f0cf4d53ade0f022a39e94ccd0a5f6c76f3d9104a6db406659bfc75', 46520.02),
 (datetime.datetime(2022, 6, 21, 0, 0), 'SAVE', 1669871, None, 'ID_a814c8b9a94aa303d129549ac4dea22eb254e99dc05cde4f112ec6357e9ec1488241c7d120a691715ed823ce97ae9ef28377c7f90a210dc32545dba93113d1d1', 49000.0),
 (datetime.datetime(2022, 6, 25, 0, 0), 'SAVE', 1172733, None, 'ID_970cf6b49e01f0694d161b59e53879f1efbd9d2d5290e06b7a95486e681464a36b6b1f8f343950c65be6fae694a1412230d83b1bc36332d22e1d93099089e4ba', 46340.0),
 (datetime.datetime(2022, 6, 30, 0, 0), 'SAVE', 1003802, None, 'ID_aa4eb7a5a7463b4db5474fd44290f10bd80c1dc75055e761555dd6a3ae2954bd870d7c3ad2b9aac763b9b61cb280afcd5a2985247ab0bbc3bc7803e11938a92d', 46897.0),
 (datetime.datetime(2022, 7, 27, 0, 0), 'SAVE', 1172616, None, 'ID_970cf6b49e01f0694d161b59e53879f1efbd9d2d5290e06b7a95486e681464a36b6b1f8f343950c65be6fae694a1412230d83b1bc36332d22e1d93099089e4ba', 46340.0),
 (datetime.datetime(2022, 8, 6, 0, 0), 'SAVE', 1009048, None, 'ID_a6dea7e5e6af07caa6658b5bc8f2d8b6a16b592077c54b94e1781226380a16d6455e01ef1d26a95c2d6ce47ba0e4ed075a8bcc9800d2a56595ddc77e5491035a', 46500.0),
 (datetime.datetime(2022, 8, 16, 0, 0), 'SAVE', 1434926, None, 'ID_db3e7674b98d508f1dc485d0f23f6494f79540eddf42e916352b5ab3f70911f677730e6648d487167f8252043b3eb660e02d7cc1fe748bbb201a92ce440fed5b', 48500.0)]

In [12]:
%%sql

SELECT 
    AVG(transaction_count) AS average_transactions_per_customer
FROM (
    SELECT 
        DISTINCT(customer_identifier),
        COUNT(customer_identifier) AS transaction_count
    FROM 
        transactions
    GROUP BY 
        customer_identifier
) AS customer_transaction_counts;

 * postgresql://postgres:***@localhost:5432/customerdb
1 rows affected.

[(Decimal('164.7636080870917574'),)]

In [13]:
%%sql

SELECT COUNT(customer_identifier)
FROM transactions

 * postgresql://postgres:***@localhost:5432/customerdb
1 rows affected.

[(847544,)]