In [1]:
pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.37-cp39-cp39-macosx_11_0_arm64.whl (2.1 MB)
     |████████████████████████████████| 2.1 MB 995 kB/s eta 0:00:01     |████████████████████▎           | 1.3 MB 1.1 MB/s eta 0:00:01
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from sqlalchemy) (4.12.2)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-2.0.37
WARNING: You are using pip version 21.2.4; however, version 24.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.12/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [20]:
pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (0.5.0)
Requirement already satisfied: six in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlparse in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: ipython in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (8.18.1)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: prettytable in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython-genutils in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: pygments>=2.4.0 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: jedi>=0.16 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: decorator in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: traitlets>=5 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pexpect>4.3 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: stack-data in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: exceptiongroup in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (1.2.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: asttokens>=2.1.0 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Requirement already satisfied: executing>=1.2.0 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
WARNING: You are using pip version 21.2.4; however, version 24.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
%load_ext sql
from sqlalchemy import create_engine

In [11]:
pip install ipython-sql pandas

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [13]:
%sql postgresql://postgres:@localhost:5432/customerdb
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [29]:
%sql select * from transactions limit 10

 * postgresql://postgres:***@localhost:5432/customerdb
10 rows affected.

[(847545, None, 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 7, 13, 0, 0), '9317537c2329262b5e19d3e29d23422558e519ca8ff0a8934afc019b97fc714685f4fc0ebc7c8425a8eaa60c4b526940ca6f8e53ffed77ff6f1d61819c2e7460', 1857.56, 1000.0, 11785, 'SAVE', 'internet', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', None),
 (847546, None, 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 2, 26, 0, 0), '9317537c2329262b5e19d3e29d23422558e519ca8ff0a8934afc019b97fc714685f4fc0ebc7c8425a8eaa60c4b526940ca6f8e53ffed77ff6f1d61819c2e7460', 8843.46, -2000.0, 11348, 'SAVE', 'internet', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', None),
 (847547, 'POS PURCHASE', 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 7, 26, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 23.82, -199.98, 148, 'CHEQ', 'system', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', '04ae923a903fb07b5c846eb61eda25c4766800f02c2e098b911703c5863926525e1fc96b295d9afdec591ee78474f586ed504920874300d52ddcd916cabb85b6'),
 (847548, None, 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 3, 27, 0, 0), '9317537c2329262b5e19d3e29d23422558e519ca8ff0a8934afc019b97fc714685f4fc0ebc7c8425a8eaa60c4b526940ca6f8e53ffed77ff6f1d61819c2e7460', 198.11, -79.39, 11419, 'SAVE', 'system', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', None),
 (847549, None, 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 5, 6, 0, 0), '9317537c2329262b5e19d3e29d23422558e519ca8ff0a8934afc019b97fc714685f4fc0ebc7c8425a8eaa60c4b526940ca6f8e53ffed77ff6f1d61819c2e7460', 13631.6, -200.0, 11528, 'SAVE', 'atm', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', None),
 (847550, None, 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 1, 9, 0, 0), '9317537c2329262b5e19d3e29d23422558e519ca8ff0a8934afc019b97fc714685f4fc0ebc7c8425a8eaa60c4b526940ca6f8e53ffed77ff6f1d61819c2e7460', 888.57, -120.0, 11254, 'SAVE', 'system', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', None),
 (847551, None, 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 6, 1, 0, 0), '9317537c2329262b5e19d3e29d23422558e519ca8ff0a8934afc019b97fc714685f4fc0ebc7c8425a8eaa60c4b526940ca6f8e53ffed77ff6f1d61819c2e7460', 20151.27, 1188.0, 11612, 'SAVE', 'system', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', None),
 (847552, 'POS PURCHASE', 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 7, 16, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 612.19, -93.96, 95, 'CHEQ', 'system', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', 'f07f47e161ab65129f4b2b6a3073dc4537b817f70676043c3841f485f3ab4939d8f4a89c29ec0d852bbb43d37c4789f3d616a9733b50bdf65cb8154edf76c672'),
 (847553, None, 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 1, 22, 0, 0), '9317537c2329262b5e19d3e29d23422558e519ca8ff0a8934afc019b97fc714685f4fc0ebc7c8425a8eaa60c4b526940ca6f8e53ffed77ff6f1d61819c2e7460', 153.96, -180.66, 11279, 'SAVE', 'system', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', None),
 (847554, None, 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 4, 17, 0, 0), '9317537c2329262b5e19d3e29d23422558e519ca8ff0a8934afc019b97fc714685f4fc0ebc7c8425a8eaa60c4b526940ca6f8e53ffed77ff6f1d61819c2e7460', 825.98, -166.86, 11488, 'SAVE', 'system', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', None)]

In [53]:
%%sql 
SELECT i.income_group_desc, count (distinct(c.customer_identifier)), count(t.customer_identifier)
FROM customers c
JOIN income_group as i
ON i.income_group_code = c.income_group_code
JOIN transactions t
ON c.customer_identifier = t.customer_identifier
GROUP BY i.income_group_code, i.income_group_desc

 * postgresql://postgres:***@localhost:5432/customerdb
22 rows affected.

[('NOT SUPPLIED', 2, 136),
 ('R 0 - 499', 62, 14994),
 ('R1,000 - 1,999', 96, 8319),
 ('R10,000 - 11,999', 438, 69661),
 ('R12,000 - 14,999', 459, 84208),
 ('R125,000+', 6, 117),
 ('R15,000 - 19,999', 597, 131996),
 ('R2,000 - 2,999', 82, 5889),
 ('R20,000 - 24,999', 451, 105093),
 ('R25,000 - 33,999', 403, 90633),
 ('R3,000 - 3,999', 150, 13395),
 ('R34,000 - 41,999', 186, 42675),
 ('R4,000 - 4,999', 438, 38242),
 ('R42,000 - 62,999', 115, 23648),
 ('R5,000 - 5,999', 373, 40719),
 ('R500 - 999', 30, 2496),
 ('R6,000 - 6,999', 357, 41316),
 ('R63,000 - 84,999', 48, 6101),
 ('R7,000 - 7,999', 331, 47822),
 ('R8,000 - 8,999', 305, 47663),
 ('R85,000 - 124,999', 15, 824),
 ('R9,000 - 9,999', 200, 31597)]

In [55]:
%%sql
SELECT
EXTRACT(MONTH FROM record_date) AS transaction_month,
i.income_group_desc
FROM customers c
JOIN income_group i
ON i.income_group_code = c.income_group_code
JOIN transactions t
ON c.customer_identifier = t.customer_identifier
GROUP BY i.income_group_desc, transaction_month
order by transaction_month

 * postgresql://postgres:***@localhost:5432/customerdb
8005 rows affected.

[(Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R85,000 - 124,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R85,000 - 124,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R85,000 - 124,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R85,000 - 124,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R85,000 - 124,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R125,000+'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R125,000+'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R85,000 - 124,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R85,000 - 124,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R125,000+'),
 (Decimal('1'), 'R85,000 - 124,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R85,000 - 124,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R85,000 - 124,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R125,000+'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R85,000 - 124,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R85,000 - 124,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R125,000+'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R85,000 - 124,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R8,000 - 8,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R85,000 - 124,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R125,000+'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R12,000 - 14,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R10,000 - 11,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R7,000 - 7,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R9,000 - 9,999'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R125,000+'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'NOT SUPPLIED'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R2,000 - 2,999'),
 (Decimal('1'), 'R125,000+'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R3,000 - 3,999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R15,000 - 19,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R34,000 - 41,999'),
 (Decimal('1'), 'R42,000 - 62,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R25,000 - 33,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R4,000 - 4,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R1,000 - 1,999'),
 (Decimal('1'), 'R6,000 - 6,999'),
 (Decimal('1'), 'R 0 - 499'),
 (Decimal('1'), 'R5,000 - 5,999'),
 (Decimal('1'), 'R500 - 999'),
 (Decimal('1'), 'R125,000+'),
 (Decimal('1'), 'R63,000 - 84,999'),
 (Decimal('1'), 'R20,000 - 24,999'),
 (Decimal('1'), 'R 0 - 499'),

In [12]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('postgresql://postgres:polpol@localhost:5430/customerdb')
query = ""
SELECT i.descript, COUNT(c.cust_id) AS customer_count, COUNT(t.cust_id) AS transaction_count
    FROM customers c
        JOIN income_group i ON i.code = c.code
        JOIN transaction t ON c.cust_id = t.cust_id
        GROUP BY i.code, i.descript
""

df = pd.read_sql(result, engine)
df

SyntaxError: invalid syntax (682656679.py, line 6)