In [1]:
pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.37-cp39-cp39-macosx_11_0_arm64.whl (2.1 MB)
     |████████████████████████████████| 2.1 MB 995 kB/s eta 0:00:01     |████████████████████▎           | 1.3 MB 1.1 MB/s eta 0:00:01
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from sqlalchemy) (4.12.2)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-2.0.37
WARNING: You are using pip version 21.2.4; however, version 24.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.12/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [20]:
pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (0.5.0)
Requirement already satisfied: six in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlparse in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: ipython in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (8.18.1)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: prettytable in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython-genutils in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: pygments>=2.4.0 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: jedi>=0.16 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: decorator in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: traitlets>=5 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pexpect>4.3 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: stack-data in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: exceptiongroup in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from ipython->ipython-sql) (1.2.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: asttokens>=2.1.0 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Requirement already satisfied: executing>=1.2.0 in /Users/tshmacm1166/Library/Python/3.9/lib/python/site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
WARNING: You are using pip version 21.2.4; however, version 24.3.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
%load_ext sql
from sqlalchemy import create_engine

In [11]:
pip install ipython-sql pandas

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [13]:
%sql postgresql://postgres:@localhost:5432/customerdb
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [29]:
%sql select * from transactions limit 10

 * postgresql://postgres:***@localhost:5432/customerdb
10 rows affected.

[(847545, None, 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 7, 13, 0, 0), '9317537c2329262b5e19d3e29d23422558e519ca8ff0a8934afc019b97fc714685f4fc0ebc7c8425a8eaa60c4b526940ca6f8e53ffed77ff6f1d61819c2e7460', 1857.56, 1000.0, 11785, 'SAVE', 'internet', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', None),
 (847546, None, 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 2, 26, 0, 0), '9317537c2329262b5e19d3e29d23422558e519ca8ff0a8934afc019b97fc714685f4fc0ebc7c8425a8eaa60c4b526940ca6f8e53ffed77ff6f1d61819c2e7460', 8843.46, -2000.0, 11348, 'SAVE', 'internet', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', None),
 (847547, 'POS PURCHASE', 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 7, 26, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 23.82, -199.98, 148, 'CHEQ', 'system', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', '04ae923a903fb07b5c846eb61eda25c4766800f02c2e098b911703c5863926525e1fc96b295d9afdec591ee78474f586ed504920874300d52ddcd916cabb85b6'),
 (847548, None, 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 3, 27, 0, 0), '9317537c2329262b5e19d3e29d23422558e519ca8ff0a8934afc019b97fc714685f4fc0ebc7c8425a8eaa60c4b526940ca6f8e53ffed77ff6f1d61819c2e7460', 198.11, -79.39, 11419, 'SAVE', 'system', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', None),
 (847549, None, 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 5, 6, 0, 0), '9317537c2329262b5e19d3e29d23422558e519ca8ff0a8934afc019b97fc714685f4fc0ebc7c8425a8eaa60c4b526940ca6f8e53ffed77ff6f1d61819c2e7460', 13631.6, -200.0, 11528, 'SAVE', 'atm', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', None),
 (847550, None, 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 1, 9, 0, 0), '9317537c2329262b5e19d3e29d23422558e519ca8ff0a8934afc019b97fc714685f4fc0ebc7c8425a8eaa60c4b526940ca6f8e53ffed77ff6f1d61819c2e7460', 888.57, -120.0, 11254, 'SAVE', 'system', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', None),
 (847551, None, 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 6, 1, 0, 0), '9317537c2329262b5e19d3e29d23422558e519ca8ff0a8934afc019b97fc714685f4fc0ebc7c8425a8eaa60c4b526940ca6f8e53ffed77ff6f1d61819c2e7460', 20151.27, 1188.0, 11612, 'SAVE', 'system', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', None),
 (847552, 'POS PURCHASE', 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 7, 16, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 612.19, -93.96, 95, 'CHEQ', 'system', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', 'f07f47e161ab65129f4b2b6a3073dc4537b817f70676043c3841f485f3ab4939d8f4a89c29ec0d852bbb43d37c4789f3d616a9733b50bdf65cb8154edf76c672'),
 (847553, None, 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 1, 22, 0, 0), '9317537c2329262b5e19d3e29d23422558e519ca8ff0a8934afc019b97fc714685f4fc0ebc7c8425a8eaa60c4b526940ca6f8e53ffed77ff6f1d61819c2e7460', 153.96, -180.66, 11279, 'SAVE', 'system', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', None),
 (847554, None, 'ID_017ba29a4d371608fad8313ff1d46c8bb42ef830ee033fc5217d196b049526e06e57ab4b772787f885b0abffeb11e6808f7b3eb050ea5ee3284b8775d70859d0', datetime.datetime(2022, 4, 17, 0, 0), '9317537c2329262b5e19d3e29d23422558e519ca8ff0a8934afc019b97fc714685f4fc0ebc7c8425a8eaa60c4b526940ca6f8e53ffed77ff6f1d61819c2e7460', 825.98, -166.86, 11488, 'SAVE', 'system', '89fe98c0e6ccddcf9a0368507f02773693e01dfeb6911c3987c799aa879f946b76ae958b973d03df1b9451316f27619a20b47ab80c6663fb6067bcb51ab35b98', None)]

In [59]:
%%sql 
SELECT i.income_group_desc, count (distinct(c.customer_identifier)) AS customers, count(t.customer_identifier) as transactions
FROM customers c
JOIN income_group as i
ON i.income_group_code = c.income_group_code
JOIN transactions t
ON c.customer_identifier = t.customer_identifier
GROUP BY i.income_group_code, i.income_group_desc
OFFSET 1 ROW

 * postgresql://postgres:***@localhost:5432/customerdb
21 rows affected.

[('R 0 - 499', 62, 14994),
 ('R500 - 999', 30, 2496),
 ('R1,000 - 1,999', 96, 8319),
 ('R2,000 - 2,999', 82, 5889),
 ('R3,000 - 3,999', 150, 13395),
 ('R4,000 - 4,999', 438, 38242),
 ('R5,000 - 5,999', 373, 40719),
 ('R6,000 - 6,999', 357, 41316),
 ('R7,000 - 7,999', 331, 47822),
 ('R8,000 - 8,999', 305, 47663),
 ('R9,000 - 9,999', 200, 31597),
 ('R10,000 - 11,999', 438, 69661),
 ('R12,000 - 14,999', 459, 84208),
 ('R15,000 - 19,999', 597, 131996),
 ('R20,000 - 24,999', 451, 105093),
 ('R25,000 - 33,999', 403, 90633),
 ('R34,000 - 41,999', 186, 42675),
 ('R42,000 - 62,999', 115, 23648),
 ('R63,000 - 84,999', 48, 6101),
 ('R85,000 - 124,999', 15, 824),
 ('R125,000+', 6, 117)]

In [57]:
%%sql
SELECT
EXTRACT(MONTH FROM record_date) AS transaction_month,
i.income_group_desc, AVG(t.account_balance) AS average_account_balance
FROM customers c
JOIN income_group i
ON i.income_group_code = c.income_group_code
JOIN transactions t
ON c.customer_identifier = t.customer_identifier
GROUP BY i.income_group_code, i.income_group_desc, transaction_month
order by transaction_month

 * postgresql://postgres:***@localhost:5432/customerdb
258 rows affected.

[(Decimal('1'), 'NOT SUPPLIED', 1740.2145714285714),
 (Decimal('1'), 'R 0 - 499', 5353.412958387518),
 (Decimal('1'), 'R500 - 999', 6765.311477663229),
 (Decimal('1'), 'R1,000 - 1,999', 6061.424959677417),
 (Decimal('1'), 'R2,000 - 2,999', 4023.5963103953145),
 (Decimal('1'), 'R3,000 - 3,999', 3091.1025121555963),
 (Decimal('1'), 'R4,000 - 4,999', 2416.466593130411),
 (Decimal('1'), 'R5,000 - 5,999', 2913.652536143097),
 (Decimal('1'), 'R6,000 - 6,999', 2511.2743612552563),
 (Decimal('1'), 'R7,000 - 7,999', 4428.129973850518),
 (Decimal('1'), 'R8,000 - 8,999', 2930.9554196113068),
 (Decimal('1'), 'R9,000 - 9,999', 4399.920516556294),
 (Decimal('1'), 'R10,000 - 11,999', 4191.134660796764),
 (Decimal('1'), 'R12,000 - 14,999', 4934.329666708121),
 (Decimal('1'), 'R15,000 - 19,999', 5192.199505811871),
 (Decimal('1'), 'R20,000 - 24,999', 6312.187069802886),
 (Decimal('1'), 'R25,000 - 33,999', 6955.790742710605),
 (Decimal('1'), 'R34,000 - 41,999', 8625.750497237566),
 (Decimal('1'), 'R42,000 - 62,999', 6979.381429209463),
 (Decimal('1'), 'R63,000 - 84,999', 6415.753730158731),
 (Decimal('1'), 'R85,000 - 124,999', 1870.4110638297873),
 (Decimal('1'), 'R125,000+', 2455.4645454545453),
 (Decimal('2'), 'NOT SUPPLIED', 1313.5717647058825),
 (Decimal('2'), 'R 0 - 499', 5208.849652173921),
 (Decimal('2'), 'R500 - 999', 6595.485785953176),
 (Decimal('2'), 'R1,000 - 1,999', 5436.324609218442),
 (Decimal('2'), 'R2,000 - 2,999', 3823.3964212076608),
 (Decimal('2'), 'R3,000 - 3,999', 3107.8583551273205),
 (Decimal('2'), 'R4,000 - 4,999', 2586.305117924528),
 (Decimal('2'), 'R5,000 - 5,999', 3231.8733270479784),
 (Decimal('2'), 'R6,000 - 6,999', 3181.180397705544),
 (Decimal('2'), 'R7,000 - 7,999', 3377.82281323877),
 (Decimal('2'), 'R8,000 - 8,999', 3365.737235744686),
 (Decimal('2'), 'R9,000 - 9,999', 4353.997980572603),
 (Decimal('2'), 'R10,000 - 11,999', 4434.415149100567),
 (Decimal('2'), 'R12,000 - 14,999', 4577.0151653578105),
 (Decimal('2'), 'R15,000 - 19,999', 5118.103310375886),
 (Decimal('2'), 'R20,000 - 24,999', 6028.254469477344),
 (Decimal('2'), 'R25,000 - 33,999', 6813.125905556611),
 (Decimal('2'), 'R34,000 - 41,999', 7504.224260038234),
 (Decimal('2'), 'R42,000 - 62,999', 6855.944439522999),
 (Decimal('2'), 'R63,000 - 84,999', 6506.248907455013),
 (Decimal('2'), 'R85,000 - 124,999', 4100.925158730159),
 (Decimal('2'), 'R125,000+', 961.9799999999999),
 (Decimal('3'), 'NOT SUPPLIED', 259.9683333333333),
 (Decimal('3'), 'R 0 - 499', 4509.696012516765),
 (Decimal('3'), 'R500 - 999', 6296.358957746479),
 (Decimal('3'), 'R1,000 - 1,999', 5587.66264395783),
 (Decimal('3'), 'R2,000 - 2,999', 3995.7766055045863),
 (Decimal('3'), 'R3,000 - 3,999', 2967.75202772074),
 (Decimal('3'), 'R4,000 - 4,999', 2595.1512134134523),
 (Decimal('3'), 'R5,000 - 5,999', 3099.2569470827652),
 (Decimal('3'), 'R6,000 - 6,999', 2889.057126272551),
 (Decimal('3'), 'R7,000 - 7,999', 3563.4155462323115),
 (Decimal('3'), 'R8,000 - 8,999', 3444.567722803177),
 (Decimal('3'), 'R9,000 - 9,999', 4416.666812486265),
 (Decimal('3'), 'R10,000 - 11,999', 4353.0544712294395),
 (Decimal('3'), 'R12,000 - 14,999', 4647.489248862556),
 (Decimal('3'), 'R15,000 - 19,999', 5312.922218396446),
 (Decimal('3'), 'R20,000 - 24,999', 6584.46761290321),
 (Decimal('3'), 'R25,000 - 33,999', 6909.236891612169),
 (Decimal('3'), 'R34,000 - 41,999', 7268.406976980371),
 (Decimal('3'), 'R42,000 - 62,999', 7453.475520931707),
 (Decimal('3'), 'R63,000 - 84,999', 7272.78681761006),
 (Decimal('3'), 'R85,000 - 124,999', 4392.80861111111),
 (Decimal('3'), 'R125,000+', 1361.7054545454544),
 (Decimal('4'), 'NOT SUPPLIED', 25.63),
 (Decimal('4'), 'R 0 - 499', 4938.033256684494),
 (Decimal('4'), 'R500 - 999', 5697.390486111111),
 (Decimal('4'), 'R1,000 - 1,999', 5887.5296424923345),
 (Decimal('4'), 'R2,000 - 2,999', 3901.5096572104017),
 (Decimal('4'), 'R3,000 - 3,999', 2736.7818231740794),
 (Decimal('4'), 'R4,000 - 4,999', 2529.9992149758473),
 (Decimal('4'), 'R5,000 - 5,999', 2972.3190533836087),
 (Decimal('4'), 'R6,000 - 6,999', 2598.7994611133063),
 (Decimal('4'), 'R7,000 - 7,999', 3709.2469934527894),
 (Decimal('4'), 'R8,000 - 8,999', 3482.5653795565568),
 (Decimal('4'), 'R9,000 - 9,999', 4467.459881889761),
 (Decimal('4'), 'R10,000 - 11,999', 4014.392302504815),
 (Decimal('4'), 'R12,000 - 14,999', 5231.249632778903),
 (Decimal('4'), 'R15,000 - 19,999', 5519.34560894888),
 (Decimal('4'), 'R20,000 - 24,999', 6024.337586179121),
 (Decimal('4'), 'R25,000 - 33,999', 7154.149766070368),
 (Decimal('4'), 'R34,000 - 41,999', 6935.925385113261),
 (Decimal('4'), 'R42,000 - 62,999', 6982.965075111642),
 (Decimal('4'), 'R63,000 - 84,999', 7750.2530427046295),
 (Decimal('4'), 'R85,000 - 124,999', 2685.9251724137926),
 (Decimal('4'), 'R125,000+', 2480.635384615385),
 (Decimal('5'), 'NOT SUPPLIED', 25.69),
 (Decimal('5'), 'R 0 - 499', 4534.300750000004),
 (Decimal('5'), 'R500 - 999', 6579.189285714285),
 (Decimal('5'), 'R1,000 - 1,999', 6057.8441156462595),
 (Decimal('5'), 'R2,000 - 2,999', 3208.2185714285692),
 (Decimal('5'), 'R3,000 - 3,999', 2264.7264944649432),
 (Decimal('5'), 'R4,000 - 4,999', 2511.5673398268436),
 (Decimal('5'), 'R5,000 - 5,999', 3500.263671052628),
 (Decimal('5'), 'R6,000 - 6,999', 2964.684016632956),
 (Decimal('5'), 'R7,000 - 7,999', 3947.7664059492627),
 (Decimal('5'), 'R8,000 - 8,999', 4278.51328574185),
 (Decimal('5'), 'R9,000 - 9,999', 4316.958102618914),
 (Decimal('5'), 'R10,000 - 11,999', 4392.745091324194),
 (Decimal('5'), 'R12,000 - 14,999', 4794.248859964087),
 (Decimal('5'), 'R15,000 - 19,999', 5634.121223310561),
 (Decimal('5'), 'R20,000 - 24,999', 6228.745168213954),
 (Decimal('5'), 'R25,000 - 33,999', 7105.586765350878),
 (Decimal('5'), 'R34,000 - 41,999', 7067.284632119283),
 (Decimal('5'), 'R42,000 - 62,999', 7889.71616687844),
 (Decimal('5'), 'R63,000 - 84,999', 8029.774080717488),
 (Decimal('5'), 'R85,000 - 124,999', 8180.3472972972995),
 (Decimal('5'), 'R125,000+', 1252.9166666666667),
 (Decimal('6'), 'NOT SUPPLIED', 25.76),
 (Decimal('6'), 'R 0 - 499', 3405.3134435962693),
 (Decimal('6'), 'R500 - 999', 9096.23285123967),
 (Decimal('6'), 'R1,000 - 1,999', 7933.574747596154),
 (Decimal('6'), 'R2,000 - 2,999', 5474.4672270742385),
 (Decimal('6'), 'R3,000 - 3,999', 2791.3726591458503),
 (Decimal('6'), 'R4,000 - 4,999', 2796.681380560923),
 (Decimal('6'), 'R5,000 - 5,999', 3311.3251817950627),
 (Decimal('6'), 'R6,000 - 6,999', 3542.3811657458596),
 (Decimal('6'), 'R7,000 - 7,999', 3775.375281705951),
 (Decimal('6'), 'R8,000 - 8,999', 4062.435666666666),
 (Decimal('6'), 'R9,000 - 9,999', 5230.217426675974),
 (Decimal('6'), 'R10,000 - 11,999', 4471.147555919255),
 (Decimal('6'), 'R12,000 - 14,999', 5494.601003675066),
 (Decimal('6'), 'R15,000 - 19,999', 6722.177752431468),
 (Decimal('6'), 'R20,000 - 24,999', 6484.31202333774),
 (Decimal('6'), 'R25,000 - 33,999', 7006.633210483216),
 (Decimal('6'), 'R34,000 - 41,999', 7732.613810593903),
 (Decimal('6'), 'R42,000 - 62,999', 7473.930190796854),
 (Decimal('6'), 'R63,000 - 84,999', 8761.279982110922),
 (Decimal('6'), 'R85,000 - 124,999', 5106.343170731709),
 (Decimal('6'), 'R125,000+', 2015.4941176470584),
 (Decimal('7'), 'R 0 - 499', 3246.635418149466),
 (Decimal('7'), 'R500 - 999', 6490.045586592179),
 (Decimal('7'), 'R1,000 - 1,999', 6438.109088435378),
 (Decimal('7'), 'R2,000 - 2,999', 3909.724007352942),
 (Decimal('7'), 'R3,000 - 3,999', 2838.369136622392),
 (Decimal('7'), 'R4,000 - 4,999', 3332.8063177135214),
 (Decimal('7'), 'R5,000 - 5,999', 3693.5523178348335),
 (Decimal('7'), 'R6,000 - 6,999', 4219.1116330785235),
 (Decimal('7'), 'R7,000 - 7,999', 4017.365541293293),
 (Decimal('7'), 'R8,000 - 8,999', 4775.90949224689),
 (Decimal('7'), 'R9,000 - 9,999', 4976.340265797392),
 (Decimal('7'), 'R10,000 - 11,999', 4838.0022191123635),
 (Decimal('7'), 'R12,000 - 14,999', 4826.444191576089),
 (Decimal('7'), 'R15,000 - 19,999', 5286.4405081893765),
 (Decimal('7'), 'R20,000 - 24,999', 6257.416748988408),
 (Decimal('7'), 'R25,000 - 33,999', 6613.772346428565),
 (Decimal('7'), 'R34,000 - 41,999', 7953.281559557913),
 (Decimal('7'), 'R42,000 - 62,999', 7686.775606217617),
 (Decimal('7'), 'R63,000 - 84,999', 11069.647653508777),
 (Decimal('7'), 'R85,000 - 124,999', 7111.080425531915),
 (Decimal('7'), 'R125,000+', 6612.4863636363625),
 (Decimal('8'), 'R 0 - 499', 4161.277455138663),
 (Decimal('8'), 'R500 - 999', 3165.744722222223),
 (Decimal('8'), 'R1,000 - 1,999', 4255.764166666668),
 (Decimal('8'), 'R2,000 - 2,999', 8176.700627450976),
 (Decimal('8'), 'R3,000 - 3,999', 2923.8073389355754),
 (Decimal('8'), 'R4,000 - 4,999', 4232.187882822907),
 (Decimal('8'), 'R5,000 - 5,999', 4000.1027931034496),
 (Decimal('8'), 'R6,000 - 6,999', 3335.85299437915),
 (Decimal('8'), 'R7,000 - 7,999', 4839.434818786981),
 (Decimal('8'), 'R8,000 - 8,999', 5819.8231795716665),
 (Decimal('8'), 'R9,000 - 9,999', 6747.305841584161),
 (Decimal('8'), 'R10,000 - 11,999', 5613.1556756097625),
 (Decimal('8'), 'R12,000 - 14,999', 5094.380525808012),
 (Decimal('8'), 'R15,000 - 19,999', 6337.853966346157),
 (Decimal('8'), 'R20,000 - 24,999', 7321.882009541989),
 (Decimal('8'), 'R25,000 - 33,999', 6303.898476958522),
 (Decimal('8'), 'R34,000 - 41,999', 7977.655577963589),
 (Decimal('8'), 'R42,000 - 62,999', 7348.313022578297),
 (Decimal('8'), 'R63,000 - 84,999', 9717.20171247358),
 (Decimal('8'), 'R85,000 - 124,999', 7674.843111111111),
 (Decimal('9'), 'NOT SUPPLIED', 2972.467931034483),
 (Decimal('9'), 'R 0 - 499', 8064.053999999999),
 (Decimal('9'), 'R500 - 999', 1358.89),
 (Decimal('9'), 'R1,000 - 1,999', 4595.659418604652),
 (Decimal('9'), 'R2,000 - 2,999', 2049.8965384615385),
 (Decimal('9'), 'R3,000 - 3,999', 1310.781875),
 (Decimal('9'), 'R4,000 - 4,999', 2907.081831325302),
 (Decimal('9'), 'R5,000 - 5,999', 1847.0570164348937),
 (Decimal('9'), 'R6,000 - 6,999', 2195.5078988941523),
 (Decimal('9'), 'R7,000 - 7,999', 2536.533937007873),
 (Decimal('9'), 'R8,000 - 8,999', 2493.6193248175146),
 (Decimal('9'), 'R9,000 - 9,999', 2999.161655913976),
 (Decimal('9'), 'R10,000 - 11,999', 3613.3168008948555),
 (Decimal('9'), 'R12,000 - 14,999', 7051.895607049603),
 (Decimal('9'), 'R15,000 - 19,999', 5612.051608187129),
 (Decimal('9'), 'R20,000 - 24,999', 6618.132959999994),
 (Decimal('9'), 'R25,000 - 33,999', 7345.938006535944),
 (Decimal('9'), 'R34,000 - 41,999', 9423.513436213983),
 (Decimal('9'), 'R42,000 - 62,999', 7396.890234482761),
 (Decimal('9'), 'R63,000 - 84,999', 10992.991172839505),
 (Decimal('9'), 'R85,000 - 124,999', 20.81),
 (Decimal('10'), 'NOT SUPPLIED', 2019.8505555555555),
 (Decimal('10'), 'R 0 - 499', 5132.016889250819),
 (Decimal('10'), 'R500 - 999', 1390.1246875000002),
 (Decimal('10'), 'R1,000 - 1,999', 8065.8867204301005),
 (Decimal('10'), 'R2,000 - 2,999', 4068.7689102564086),
 (Decimal('10'), 'R3,000 - 3,999', 4395.377035040431),
 (Decimal('10'), 'R4,000 - 4,999', 2967.2630076004357),
 (Decimal('10'), 'R5,000 - 5,999', 2568.7305615696905),
 (Decimal('10'), 'R6,000 - 6,999', 3415.374651324962),
 (Decimal('10'), 'R7,000 - 7,999', 3291.0080155917794),
 (Decimal('10'), 'R8,000 - 8,999', 3161.729871031745),
 (Decimal('10'), 'R9,000 - 9,999', 3727.3864803049564),
 (Decimal('10'), 'R10,000 - 11,999', 3145.827816756087),
 (Decimal('10'), 'R12,000 - 14,999', 5377.702425612056),
 (Decimal('10'), 'R15,000 - 19,999', 5170.133516239662),
 (Decimal('10'), 'R20,000 - 24,999', 6170.692389210004),
 (Decimal('10'), 'R25,000 - 33,999', 6386.574279210932),
 (Decimal('10'), 'R34,000 - 41,999', 9129.139698443561),
 (Decimal('10'), 'R42,000 - 62,999', 6732.474015957452),
 (Decimal('10'), 'R63,000 - 84,999', 8375.527970297027),
 (Decimal('10'), 'R85,000 - 124,999', -24.126666666666665),
 (Decimal('11'), 'NOT SUPPLIED', 1735.748),
 (Decimal('11'), 'R 0 - 499', 4696.44789686552),
 (Decimal('11'), 'R500 - 999', 10005.558209876543),
 (Decimal('11'), 'R1,000 - 1,999', 5497.50103896104),
 (Decimal('11'), 'R2,000 - 2,999', 2727.5402666666646),
 (Decimal('11'), 'R3,000 - 3,999', 3742.0065830721005),
 (Decimal('11'), 'R4,000 - 4,999', 3296.6179902302893),
 (Decimal('11'), 'R5,000 - 5,999', 2588.977407049733),
 (Decimal('11'), 'R6,000 - 6,999', 2838.923760075869),
 (Decimal('11'), 'R7,000 - 7,999', 3616.7936627418017),
 (Decimal('11'), 'R8,000 - 8,999', 2960.538468809072),
 (Decimal('11'), 'R9,000 - 9,999', 4454.484206714941),
 (Decimal('11'), 'R10,000 - 11,999', 4953.089951302652),
 (Decimal('11'), 'R12,000 - 14,999', 5965.3547599481035),
 (Decimal('11'), 'R15,000 - 19,999', 5494.528409380577),
 (Decimal('11'), 'R20,000 - 24,999', 6464.444632327434),
 (Decimal('11'), 'R25,000 - 33,999', 6667.422998134912),
 (Decimal('11'), 'R34,000 - 41,999', 8125.367427450991),
 (Decimal('11'), 'R42,000 - 62,999', 7939.557743589745),
 (Decimal('11'), 'R63,000 - 84,999', 6234.092319999999),
 (Decimal('11'), 'R85,000 - 124,999', 326.184),
 (Decimal('12'), 'NOT SUPPLIED', 2910.6994444444445),
 (Decimal('12'), 'R 0 - 499', 7318.655174242433),
 (Decimal('12'), 'R500 - 999', 9559.132569169959),
 (Decimal('12'), 'R1,000 - 1,999', 6369.3555463347175),
 (Decimal('12'), 'R2,000 - 2,999', 3576.2067275747513),
 (Decimal('12'), 'R3,000 - 3,999', 2863.15),
 (Decimal('12'), 'R4,000 - 4,999', 3045.7030538922154),
 (Decimal('12'), 'R5,000 - 5,999', 3385.3426338602703),
 (Decimal('12'), 'R6,000 - 6,999', 3148.095374941784),
 (Decimal('12'), 'R7,000 - 7,999', 4467.479669613773),
 (Decimal('12'), 'R8,000 - 8,999', 3924.7080713983996),
 (Decimal('12'), 'R9,000 - 9,999', 5420.390845267204),
 (Decimal('12'), 'R10,000 - 11,999', 5358.137049127855),
 (Decimal('12'), 'R12,000 - 14,999', 6128.640525396229),
 (Decimal('12'), 'R15,000 - 19,999', 6645.342413459982),
 (Decimal('12'), 'R20,000 - 24,999', 7063.652576757854),
 (Decimal('12'), 'R25,000 - 33,999', 9351.487101480601),
 (Decimal('12'), 'R34,000 - 41,999', 11420.822595505628),
 (Decimal('12'), 'R42,000 - 62,999', 7237.367265822798),
 (Decimal('12'), 'R63,000 - 84,999', 5570.982862190822),
 (Decimal('12'), 'R85,000 - 124,999', 2517.331960784313),
 (Decimal('12'), 'R125,000+', 529.65)]

In [12]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('postgresql://postgres:polpol@localhost:5430/customerdb')
query = ""
SELECT i.descript, COUNT(c.cust_id) AS customer_count, COUNT(t.cust_id) AS transaction_count
    FROM customers c
        JOIN income_group i ON i.code = c.code
        JOIN transaction t ON c.cust_id = t.cust_id
        GROUP BY i.code, i.descript
""

df = pd.read_sql(result, engine)
df

SyntaxError: invalid syntax (682656679.py, line 6)